# Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [6]:
s="Hi there Sam!"
print(s.split())

['Hi', 'there', 'Sam!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [2]:
planet="Earth"
diameter=12742
print('The diameter of{one} is {two} kilometers'.format(one=planet,two=diameter))

The diameter ofEarth is 12742 kilometers

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [9]:
print("String is Mutable and Tuple is Immutable")

String is Mutable and Tuple is Immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [10]:
def domainGet(email):
    print(email.split('@')[-1])

email = "user@domain.com"
domainGet(email)

domain.com

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [11]:
animal = "dog"
if(animal == "dog"):
  print("True")
else:
  print("False")

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [20]:
animal = "dog is a dog and dog is also an animal called as dog"
list = animal.split()
count = 0
for i in range(0,len(list)):
  if (list[i] == "dog"):
    count = count +1
print("The Word Dog is Presented at",count,"times!")

The Word Dog is Presented at 4 times!

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [15]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

caught_speeding(90,True)

'Big Ticket'

In [16]:
caught_speeding(90,True)

'Big Ticket'

In [17]:
caught_speeding(50,True)

'No Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [18]:
employee_salary = [10000,15000,20000,25000,30000]
sum = 0
for i in range(0,len(employee_salary)):
  sum += employee_salary[i]
print(sum)

100000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [19]:
dict1 = { 'Empid': [1,2], 'EmpName':["Akesh","Ajith"] }
dict2 = {'DeptName': ["IT","CSE"], 'Deptid':[301,203]}
dict3 = {**dict1, **dict2}
print(dict3)

{'Empid': [1, 2], 'EmpName': ['Akesh', 'Ajith'], 'DeptName': ['IT', 'CSE'], 'Deptid': [301, 203]}